html {
    box-sizing: border-box;
    background: aqua;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1 {
    margin-top: 0;
    text-align: center;
    color: orange;
    text-decoration: underline;
    font-family: 'Times New Roman';
  }

  p {
      font-family: 'Arial', Times, serif;
      text-align: start;
      font-size: 18px;
  }

  .important{
      color: red;
      text-decoration: underline;
  }

  .site-wrap {
    max-width: 1100px;
    margin: 100px auto;
    background:white;
    padding:80px;
    text-align: justify;
  }

  .align-left {
    float:left;
    margin-right:20px;
  }

  .align-right {
    float:right;
    margin-left:20px;
  }

  .slide-in {
    opacity:0;
    transition:all .5s;
  }

  .align-left.slide-in {
    transform:translateX(-30%) scale(0.95);
  }
  .align-right.slide-in {
    transform:translateX(30%) scale(0.95);
  }

  .slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
  }

  #myBtn {
    background-color: white; 
    border: 2px solid #4CAF50;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

#myBtn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}